.layer {
  position: absolute;
  will-change: transform;
  pointer-events: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.layer.interactive {
  pointer-events: auto;
}

/* Posicionamiento presets */
.center {
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

.topLeft {
  top: 0;
  left: 0;
  transform-origin: top left;
}

.topRight {
  top: 0;
  right: 0;
  transform-origin: top right;
}

.topCenter {
  top: 0;
  left: 50%;
  transform-origin: top center;
}

.bottomLeft {
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
}

.bottomRight {
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}

.bottomCenter {
  bottom: 0;
  left: 50%;
  transform-origin: bottom center;
}

.centerLeft {
  top: 50%;
  left: 0;
  transform-origin: center left;
}

.centerRight {
  top: 50%;
  right: 0;
  transform-origin: center right;
}

/* Full coverage */
.full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Soporte para reducir movimiento */
@media (prefers-reduced-motion: reduce) {
  .layer {
    transform: none !important;
  }
}
